<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--本地-->
    <!--<add name="XiaoShuo" connectionString="Data Source=.;DataBase=XiaoShuoTest;Uid=sa;PWD=USER1122@;" providerName="System.Data.SqlClient" />-->
    <!--远程-->
    <add name="XiaoShuo" connectionString="Data Source=116.62.17.62;DataBase=XiaoShuoTest;Uid=sa;PWD=USER1122@;" providerName="System.Data.SqlClient"/>
    <add name="Mongo_XiaoShuo" connectionString="mongodb://localhost"/>
    <add name="MySql_Video" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=video;user id=root;password=123456;Charset=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="Video" connectionString="Data Source=.;DataBase=Video;Uid=sa;PWD=USER1122@;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--是否启用fidder代理-->
    <add key="IsProxy" value="false"/>
    <!--paypay 沙盒-->
    <add key="ClientId_Sandbox" value="AUJarxBmNOXOUBVqEJwbz2CXB2O63yvoOVhGFnWjx1SRiiA7F1IMrZsc0-JE"/>
    <add key="Secret_Sandbox" value="EMYjrhBXMaU0RWvrisAn0AYT4iW8qtCn9vn1sCA9roRRHj3hdhBW6zztMXHJ"/>

    <!--paypay Live-->
    <add key="ClientId_Live" value="AUjZCBBXB44IwCQ-A4vkRW9roInZ_BV0Cn-L_9qBHKOPcUUXES65yB2GuD15"/>
    <add key="Secret_Live" value="EGMQhRDLMSIHjn7DPNikW-MHT2OXPO9RoGJ3y_HIPziPUQcaM_tGK9rF6QJA"/>

    <!--paypal 商户邮箱-->
    <add key="Email_Sandbox" value="liao.yang118-facilitator@163.com"/>
    <add key="Email_Live" value="liao.yang118@163.com"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
