<!---- Start Widget ---->
<div class="widget wid-post">
    <div class="heading"><h4><i class="fa fa-comments"></i> Comment</h4></div>
    <div class="content">
        <div class="post">
            <a href="single.html">
                <img src="~/images/user.png" />
            </a>
            <div class="wrapper">
                <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                <ul class="list-inline">
                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                    <li><i class="fa fa-comments"></i>1,200</li>
                </ul>
            </div>
        </div>
        <div class="post">
            <a href="single.html">
                <img src="~/images/user.png" />
            </a>
            <div class="wrapper">
                <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                <ul class="list-inline">
                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                    <li><i class="fa fa-comments"></i>1,200</li>
                </ul>
            </div>
        </div>
        <div class="post">
            <a href="single.html">
                <img src="~/images/user.png" />
            </a>
            <div class="wrapper">
                <a href="#"><h5>Curabitur tincidunt porta lorem.</h5></a>
                <ul class="list-inline">
                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                    <li><i class="fa fa-comments"></i>1,200</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>
<div class="widget wid-banner">
    <img src="~/images/banner-2.jpg" />
</div>