

@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    }

    <div id="sidebar" class="col-md-4">
        <!---- Start Widget ---->
        <div class="widget wid-follow">
            <div class="heading"><h4><i class="fa fa-users"></i> Follow Us</h4></div>
            <div class="content">
                <ul class="list-inline">
                    <li>
                        <a href="facebook.com/">
                            <div class="box-facebook">
                                <span class="fa fa-facebook fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="facebook.com/">
                            <div class="box-twitter">
                                <span class="fa fa-twitter fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="facebook.com/">
                            <div class="box-google">
                                <span class="fa fa-google-plus fa-2x icon"></span>
                                <span>1250</span>
                                <span>Fans</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <img src="/images/banner.jpg" />
            </div>
            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-tags">
                    <div class="heading"><h4><i class="fa fa-tags"></i> 通知</h4></div>
                    <div class="content">
                        即将上线更多内容
                    </div>

            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-post">
            <div class="heading"><h4><i class="fa fa-globe"></i> 精彩推荐</h4></div>
            <div class="content">
                        <!--140*78-->
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>60:15</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>(JAV) K...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/450147fb-33b2-4e_140x78.jpg" />
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">(JAV) K...</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>2018-11-08 20:31:50</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                        <!--140*78-->
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>43:48</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Rie Tac...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/15a70555-931c-46_140x78.jpg" />
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">Rie Tac...</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>2018-11-08 20:31:51</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                        <!--140*78-->
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>147:10</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>MIGD-76...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/66b5b6bb-8d5e-43_140x78.jpg" />
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">MIGD-76...</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>2018-11-08 20:31:51</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>

            </div>
            <div class="line"></div>
        </div>
        <!---- Start Widget ---->
        <div class="widget wid-news">
            <div class="heading"><h4><i class="fa fa-clock-o"></i> 热门点击</h4></div>
            <div class="content">
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>60:15</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>(JAV) K...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/26c08704-7e2a-41_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">(JAV) K...</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>2018-11-08 20:31:55</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>43:48</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Rie Tac...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/6036f29c-082f-4b_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">Rie Tac...</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>2018-11-08 20:31:55</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>147:10</span>
                                    <a href="single.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>MIGD-76...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/08/07e77728-b0e0-46_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">MIGD-76...</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>2018-11-08 20:31:55</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>

            </div>
            <div class="line"></div>
        </div>
        <div class="widget wid-post">
            <div class="heading"><h4><i class="fa fa-comments"></i> Comment</h4></div>
            <div class="content">
                        <!--50*50-->
                        <div class="post">
                            <a href="single.html">
                                <img src="http://img.jsonyang.com/2018/11/08/b1708ec3-709f-43_50x50.jpg" />
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>(JAV) K...</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                    <li><i class="fa fa-comments"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                        <!--50*50-->
                        <div class="post">
                            <a href="single.html">
                                <img src="http://img.jsonyang.com/2018/11/08/68aea89f-4d07-4a_50x50.jpg" />
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>Rie Tac...</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                    <li><i class="fa fa-comments"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                        <!--50*50-->
                        <div class="post">
                            <a href="single.html">
                                <img src="http://img.jsonyang.com/2018/11/08/b3299fbb-70cf-46_50x50.jpg" />
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>MIGD-76...</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                    <li><i class="fa fa-comments"></i>1,200</li>
                                </ul>
                            </div>
                        </div>

            </div>
            <div class="line"></div>
        </div>
        <div class="widget wid-banner">
            <img src="/images/banner-2.jpg" />
        </div>
    </div>
