

@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    }

    <div id="sidebar" class="col-md-4">
        <!---- Start Widget ---->
        <div class="widget wid-follow">
            <div class="heading"><h4><i class="fa fa-users"></i> Vip</h4></div>
            <div class="content">
                <ul class="list-inline">
                    <li>
                        <a href="/Vip/Index">
                            <div class="thumbnail" style="height: 60px;">
                                <img class="lazy" src="/images/vip3.png" width="95" height="55" alt="试用会员">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Vip/Index">
                            <div class="thumbnail" style="height: 60px;">
                                <img class="lazy" src="/images/vip7.png" width="95" height="55" alt="试用会员">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Vip/Index">
                            <div class="thumbnail" style="height: 60px;">
                                <img class="lazy" src="/images/vip30.png" width="95" height="55" alt="试用会员">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!---- 热门点击 ---->
        <div class="widget wid-news">
            <div class="heading"><h4><i class="fa fa-clock-o"></i> 热门点击</h4></div>
            <div class="content">
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>12:09</span>
                                    <a href="/Detail/Min/4/29.html" target="_blank">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>JAV TribFest 2</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/11/8a2c4599-34c4-44_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="/Detail/Min/4/29.html" target="_blank">JAV TribFest 2</a></h3>
                            <div class="info">
                                <span><i class="fa fa-calendar"></i>2018-11-11 20:06:41</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>177:36</span>
                                    <a href="/Detail/Min/4/30.html" target="_blank">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>star563</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/11/4e5fc1f9-77e3-44_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="/Detail/Min/4/30.html" target="_blank">star563</a></h3>
                            <div class="info">
                                <span><i class="fa fa-calendar"></i>2018-11-11 20:06:42</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <!--349*195-->
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>106:48</span>
                                    <a href="/Detail/Min/4/31.html" target="_blank">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Chotto Kawaii Aian Mei...</p>
                                </div>
                                <img src="http://img.jsonyang.com/2018/11/11/4199e42e-8140-4c_349x195.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="/Detail/Min/4/31.html" target="_blank">Chotto Kawaii Aian Mei...</a></h3>
                            <div class="info">
                                <span><i class="fa fa-calendar"></i>2018-11-11 20:06:42</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>

            </div>
            <div class="line"></div>
        </div>
    </div>
