@using Site.Videos.DataAccess.Model;
@using Site.Common;
@{
    VideoCate vcInfo = ViewData["cateInfo"] as VideoCate;
    VideoInfo vInfo = ViewData["vInfo"] as VideoInfo;
}
@{
    Layout = "~/Views/Shared/_Detail_Min_Layout.cshtml";
    ViewBag.Title = "试看" + "-" + vInfo.v_titile + "-" + vcInfo.c_name;
}

<div id="page-content" class="single-page">
    <div class="container">       
        <div class="row">
            <div id="main-content" class="col-md-8">               
                
                <div class="wrap-vid">
                    <video src="@vInfo.v_min_playSrc" width="750" height="400" controls="controls" contextmenu="123"></video>
                </div>
                <div class="line"></div>

                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-globe"></i> RELATED VIDEOS</h2>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/7.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/8.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/9.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-globe"></i> RELATED VIDEOS</h2>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/7.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/8.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span>Video's Tag</span>
                                            <a href="single.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>Video's Name</p>
                                        </div>
                                        <img src="~/images/9.jpg">
                                    </div>
                                    <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                Html.RenderPartial("../Sidebar/Video_Detail_Min_Sidebar");
            }
        </div>
    </div>
</div>

