<?xml version="1.0" encoding="utf-8" ?>
<!--配置上传图片的WCF服务地址-->
<serviceConfigInfos>

  <serviceConfigInfo>
    <serviceName>UploadService</serviceName>
    <serviceUrl>http://localhost:8890/UploadService.svc/Stream</serviceUrl>
    <SecurityMode>None</SecurityMode>
    <servicespace>http://liaoyang.service.com</servicespace>
  </serviceConfigInfo>

</serviceConfigInfos>