@{
    ViewBag.Title = "最全小说阅读网";
    ViewBag.keywords = "宇扬小说网，有你想要的，有你想看的";
    ViewBag.description = "宇扬小说网，最全各类小说";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="div_slide" class="row">
        <div class="col-xs-12 col-sm-8 text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <!--轮播-->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <a href="http://localhost:8900/Introduce/2718.html" target="_blank" title="元尊">
                                            <img width="360" height="158" src="http://img.jsonyang.com/2018/02/07/65f6a9c0-0d38-48_360x158.jpg" alt="元尊" data-holder-rendered="true">
                                        </a>
                                    </div>
                                    <div class="item ">
                                        <a href="http://localhost:8900/Introduce/2746.html" target="_blank" title="一念永恒">
                                            <img width="360" height="158" src="http://img.jsonyang.com/2018/02/07/88fab058-3de9-4e_360x158.jpg" alt="一念永恒" data-holder-rendered="true">
                                        </a>
                                    </div>
                                    <div class="item ">
                                        <a href="http://localhost:8900/Introduce/101.html" target="_blank" title="圣墟">
                                            <img width="360" height="158" src="http://img.jsonyang.com/2018/02/07/d82feaf1-9bdc-44_360x158.jpg" alt="圣墟" data-holder-rendered="true">
                                        </a>
                                    </div>

                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 text-left">
                    <table class="table">
                        <tr>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/26047.html" title="一觉醒来喜当爹" target="_blank" class="hot_title">一觉醒来喜当爹</a>》
                                        <br />
                                        <span class="text_author">作者：便前洗手</span>
                                    </td>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/15197.html" title="灵壶仙缘" target="_blank" class="hot_title">灵壶仙缘</a>》
                                        <br />
                                        <span class="text_author">作者：若水</span>
                                    </td>

                        </tr>
                        <tr>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/32790.html" title="飞向蓝天" target="_blank" class="hot_title">飞向蓝天</a>》
                                    <br />
                                    <span class="text_author">作者：叫我太子</span>
                                </td>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/32787.html" title="篮神传说" target="_blank" class="hot_title">篮神传说</a>》
                                    <br />
                                    <span class="text_author">作者：偏头疼</span>
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/32788.html" title="曾经的传奇" target="_blank" class="hot_title">曾经的传奇</a>》
                                    <br />
                                    <span class="text_author">作者：出恭</span>
                                </td>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/24002.html" title="李元霸别传" target="_blank" class="hot_title">李元霸别传</a>》
                                    <br />
                                    <span class="text_author">作者：弦戈</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="alert alert-info text-left hidden-xs" role="alert">
                <strong>注意：</strong> 喜欢我们就收藏我们的站点吧。记住本站域名：xs.jsonyang.com
            </div>
            <div class="row">
                <div class="col-xs-12 text-left">
                    <table class="table">
                        <tr>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/23999.html" title="天王女助理：我的巨星男友" target="_blank" class="hot_title">天王女助理：我的巨星男友</a>》
                                        <br />
                                        <span class="text_author">作者：童童</span>
                                    </td>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/11790.html" title="空灵遁世" target="_blank" class="hot_title">空灵遁世</a>》
                                        <br />
                                        <span class="text_author">作者：神见忧怜</span>
                                    </td>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/26050.html" title="特工穿越在远古" target="_blank" class="hot_title">特工穿越在远古</a>》
                                        <br />
                                        <span class="text_author">作者：吃条小鱼</span>
                                    </td>
                                    <td>
                                        《<a href="http://localhost:8900/Introduce/26048.html" title="都市燃情高手" target="_blank" class="hot_title">都市燃情高手</a>》
                                        <br />
                                        <span class="text_author">作者：戈夙</span>
                                    </td>

                        </tr>
                        <tr>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/15164.html" title="都市狼王" target="_blank" class="hot_title">都市狼王</a>》
                                    <br />
                                    <span class="text_author">作者：皇杰</span>
                                </td>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/15104.html" title="某异界的神奇宝贝大师" target="_blank" class="hot_title">某异界的神奇宝贝大师</a>》
                                    <br />
                                    <span class="text_author">作者：修的宅愿</span>
                                </td>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/12881.html" title="洪荒之混沌魔猿" target="_blank" class="hot_title">洪荒之混沌魔猿</a>》
                                    <br />
                                    <span class="text_author">作者：莫等闲</span>
                                </td>
                                <td>
                                    《<a href="http://localhost:8900/Introduce/12888.html" title="鬼域" target="_blank" class="hot_title">鬼域</a>》
                                    <br />
                                    <span class="text_author">作者：落羽离殇</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--轮播右侧推荐-->
        <div class="hidden-xs col-sm-4 text-center">
            <div class="list-group">
                        <a href="http://localhost:8900/Introduce/2693.html" title="为己封神" target="_blank" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class="thumbnail" style="margin-bottom:0px;">
                                        <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/25a6221c-4881-4f_140x180.jpg" width="140" height="180" alt="为己封神">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 text-left">
                                    <h4 class="list-group-item-heading" style="color:#F60;">《为己封神》</h4>
                                    <p class="list-group-item-text">本站.以最快的速度为读者提供为己封神最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                </div>
                            </div>
                        </a>
                        <a href="http://localhost:8900/Introduce/4021.html" title="近战幻术师" target="_blank" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class="thumbnail" style="margin-bottom:0px;">
                                        <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/b5cb7770-573f-4a_140x180.jpg" width="140" height="180" alt="近战幻术师">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 text-left">
                                    <h4 class="list-group-item-heading" style="color:#F60;">《近战幻术师》</h4>
                                    <p class="list-group-item-text">本站.以最快的速度为读者提供近战幻术师最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                </div>
                            </div>
                        </a>
                        <a href="http://localhost:8900/Introduce/3749.html" title="惊天仙途" target="_blank" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class="thumbnail" style="margin-bottom:0px;">
                                        <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/8369720a-e486-4f_140x180.jpg" width="140" height="180" alt="惊天仙途">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 text-left">
                                    <h4 class="list-group-item-heading" style="color:#F60;">《惊天仙途》</h4>
                                    <p class="list-group-item-text">本站.以最快的速度为读者提供惊天仙途最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                </div>
                            </div>
                        </a>

            </div>
        </div>
    </div>
    <div class="ad_pc_block hidden-xs">
        <script type="text/javascript">
            /*首页横幅1*/
            var cpro_id = "u3211160";
        </script>
        <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js"></script>
    </div>
    <div class="ad_wap_block hidden-sm hidden-md hidden-lg">
        <script type="text/javascript">
            /*移动版首页横幅 20:3*/
            var cpro_id = "u3211170";
        </script>
        <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js"></script>
    </div>
    <!--分类-->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">玄幻</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/1.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/16316.html" target="_blank" title="恶魔手机">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/f6737e19-d33e-48_140x180.jpg" width="140" height="180" alt="恶魔手机">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/16316.html" target="_blank" title="恶魔手机">恶魔手机</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>穿越时空的眼</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供恶魔手机最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/300.html" target="_blank" title="藏王">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/6fcc3ab7-aa3e-4e_140x180.jpg" width="140" height="180" alt="藏王">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/300.html" target="_blank" title="藏王">藏王</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>勇之心</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供藏王最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/13207.html" target="_blank" title="海上封神记">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/a2fd8f9b-92d1-47_140x180.jpg" width="140" height="180" alt="海上封神记">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/13207.html" target="_blank" title="海上封神记">海上封神记</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>谶语者</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供海上封神记最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/1251.html" title="万圣纪" target="_blank" class="hot_title">万圣纪</a>
                                                <br />
                                                <span class="text_author">作者：衣冠胜雪</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/26696.html" title="五灵元尊传之水灵元尊" target="_blank" class="hot_title">五灵元尊传之水灵元尊</a>
                                                <br />
                                                <span class="text_author">作者：列辰</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/26697.html" title="穿越上古当大圣" target="_blank" class="hot_title">穿越上古当大圣</a>
                                                <br />
                                                <span class="text_author">作者：捉鬼先生</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3204.html" title="神帝异世重生" target="_blank" class="hot_title">神帝异世重生</a>
                                                <br />
                                                <span class="text_author">作者：一个布娃娃</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/2718.html" title="元尊" target="_blank" class="hot_title">元尊</a>
                                                <br />
                                                <span class="text_author">作者：天蚕土豆</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3492.html" title="绝代丹帝" target="_blank" class="hot_title">绝代丹帝</a>
                                                <br />
                                                <span class="text_author">作者：林小意</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">修真</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/4.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/3875.html" target="_blank" title="烽云">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/32ab6432-ed7e-48_140x180.jpg" width="140" height="180" alt="烽云">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/3875.html" target="_blank" title="烽云">烽云</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>杀生剑</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供烽云最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/3834.html" target="_blank" title="赶尸集之前世今生">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/a9b20198-afad-48_140x180.jpg" width="140" height="180" alt="赶尸集之前世今生">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/3834.html" target="_blank" title="赶尸集之前世今生">赶尸集之前世今生</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>王富</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供赶尸集之前世今生最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/3848.html" target="_blank" title="刀皇传奇">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/e4fda732-382f-4b_140x180.jpg" width="140" height="180" alt="刀皇传奇">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/3848.html" target="_blank" title="刀皇传奇">刀皇传奇</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>觉怒萨</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供刀皇传奇最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3864.html" title="超级淘宝" target="_blank" class="hot_title">超级淘宝</a>
                                                <br />
                                                <span class="text_author">作者：酒煮核弹头</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3459.html" title="扶桑道" target="_blank" class="hot_title">扶桑道</a>
                                                <br />
                                                <span class="text_author">作者：轻狂狸砂</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3471.html" title="公子出关" target="_blank" class="hot_title">公子出关</a>
                                                <br />
                                                <span class="text_author">作者：北男</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3411.html" title="绝代双帝" target="_blank" class="hot_title">绝代双帝</a>
                                                <br />
                                                <span class="text_author">作者：雨落飞扬</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3515.html" title="江湖的潮" target="_blank" class="hot_title">江湖的潮</a>
                                                <br />
                                                <span class="text_author">作者：评世说书人</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3384.html" title="花和尚之一代恶棍" target="_blank" class="hot_title">花和尚之一代恶棍</a>
                                                <br />
                                                <span class="text_author">作者：R的风花雪月</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">都市</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/2.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/12569.html" target="_blank" title="海洋牧场">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/fd8e39f4-e255-48_140x180.jpg" width="140" height="180" alt="海洋牧场">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/12569.html" target="_blank" title="海洋牧场">海洋牧场</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>鱼胶</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供海洋牧场最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/3743.html" target="_blank" title="女总裁的逆天高手">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/acc527fe-fda1-4c_140x180.jpg" width="140" height="180" alt="女总裁的逆天高手">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/3743.html" target="_blank" title="女总裁的逆天高手">女总裁的逆天高手</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>楚琴子</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供女总裁的逆天高手最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/8774.html" target="_blank" title="风起美利坚">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/9a9866fe-38a4-4b_140x180.jpg" width="140" height="180" alt="风起美利坚">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/8774.html" target="_blank" title="风起美利坚">风起美利坚</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>无垢者</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供风起美利坚最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/3460.html" title="史上最强手机地图" target="_blank" class="hot_title">史上最强手机地图</a>
                                                <br />
                                                <span class="text_author">作者：时间主宰</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/7382.html" title="三界红包神仙群" target="_blank" class="hot_title">三界红包神仙群</a>
                                                <br />
                                                <span class="text_author">作者：猫太岁</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/7189.html" title="契约老公太霸道" target="_blank" class="hot_title">契约老公太霸道</a>
                                                <br />
                                                <span class="text_author">作者：长歌昏昏</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/16318.html" title="都市医武主宰" target="_blank" class="hot_title">都市医武主宰</a>
                                                <br />
                                                <span class="text_author">作者：萧逝</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/4640.html" title="一嫁太监误终生" target="_blank" class="hot_title">一嫁太监误终生</a>
                                                <br />
                                                <span class="text_author">作者：月阕</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/12692.html" title="重生之秦帝归来" target="_blank" class="hot_title">重生之秦帝归来</a>
                                                <br />
                                                <span class="text_author">作者：粉红小西瓜</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">恐怖</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/7.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/914.html" target="_blank" title="吸血鬼就是吸血鬼">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/534cd6d5-ad10-46_140x180.jpg" width="140" height="180" alt="吸血鬼就是吸血鬼">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/914.html" target="_blank" title="吸血鬼就是吸血鬼">吸血鬼就是吸血鬼</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>诶呦喂</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本书阅读地址：本站.以最快的速度为读者提供吸血鬼就是吸血鬼最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6249.html" target="_blank" title="圣武独尊">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/c6570444-8b2b-46_140x180.jpg" width="140" height="180" alt="圣武独尊">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6249.html" target="_blank" title="圣武独尊">圣武独尊</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>暴狮冯河</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>千年前杨公弃剑成圣，纵横九天，留毕生绝学于杨氏。
千年后杨家满门灭族，幸存杨潇，得此绝学。
一少年，一把剑，背负家仇，带着理想捅入武者...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/892.html" target="_blank" title="奇石录">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/7f0746af-1dc2-4c_140x180.jpg" width="140" height="180" alt="奇石录">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/892.html" target="_blank" title="奇石录">奇石录</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>莫聆雨</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>班柏说：“烈日当空照，百花对人笑。游船水上漂，群鸟叽喳叫。”
杨忠说：“好诗！”
严阳嘴里的酒全喷了。
王师：“你们都有病吧，看我金匮...</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6199.html" title="血猎：王者的光芒" target="_blank" class="hot_title">血猎：王者的光芒</a>
                                                <br />
                                                <span class="text_author">作者：葵葵w</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/907.html" title="金轮王 " target="_blank" class="hot_title">金轮王 </a>
                                                <br />
                                                <span class="text_author">作者：醉里挑灯码字</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6178.html" title="重生之攻受兼备" target="_blank" class="hot_title">重生之攻受兼备</a>
                                                <br />
                                                <span class="text_author">作者：魔法师杨</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6502.html" title="重生：孤傲少爷玩够请" target="_blank" class="hot_title">重生：孤傲少爷玩够请</a>
                                                <br />
                                                <span class="text_author">作者：依清妍</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6464.html" title="秦时明月之锁链之罪" target="_blank" class="hot_title">秦时明月之锁链之罪</a>
                                                <br />
                                                <span class="text_author">作者：七夕**</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6485.html" title="断魂录" target="_blank" class="hot_title">断魂录</a>
                                                <br />
                                                <span class="text_author">作者：迷途的羊</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">网游</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/3.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6029.html" target="_blank" title="校园篮球风云">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/fd91302c-3f1c-4f_140x180.jpg" width="140" height="180" alt="校园篮球风云">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6029.html" target="_blank" title="校园篮球风云">校园篮球风云</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>大秦炳炳</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>没什么好介绍的,就是写篮球的.喜欢篮球的朋友请进.本书会在你的生活里带来一丝对篮球的冲动,期盼.主人翁是个非常具有篮球天赋的少年，在初...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6016.html" target="_blank" title="快穿：时空金牌家教">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/ba602330-d8a5-41_140x180.jpg" width="140" height="180" alt="快穿：时空金牌家教">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6016.html" target="_blank" title="快穿：时空金牌家教">快穿：时空金牌家教</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>时漪</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供快穿：时空金牌家教最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/570.html" target="_blank" title="银河争霸编年史">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/019fa943-a6d9-45_140x180.jpg" width="140" height="180" alt="银河争霸编年史">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/570.html" target="_blank" title="银河争霸编年史">银河争霸编年史</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>时空大侠</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供银河争霸编年史最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/562.html" title="无限电影世界掠夺" target="_blank" class="hot_title">无限电影世界掠夺</a>
                                                <br />
                                                <span class="text_author">作者：误敌</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/557.html" title="快穿：我不想拯救世界" target="_blank" class="hot_title">快穿：我不想拯救世界</a>
                                                <br />
                                                <span class="text_author">作者：浅色线条</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6870.html" title="末世之无尽杀戮" target="_blank" class="hot_title">末世之无尽杀戮</a>
                                                <br />
                                                <span class="text_author">作者：韭菜狂魔</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/5976.html" title="救赎或堕落" target="_blank" class="hot_title">救赎或堕落</a>
                                                <br />
                                                <span class="text_author">作者：南北i</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6894.html" title="我的笔仙大人" target="_blank" class="hot_title">我的笔仙大人</a>
                                                <br />
                                                <span class="text_author">作者：寒月暖暖</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6918.html" title="全人类进化" target="_blank" class="hot_title">全人类进化</a>
                                                <br />
                                                <span class="text_author">作者：白色米饭</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="panel-title">科幻</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="http://localhost:8900/List/6.html" target="_blank" class="panel-title">更多>></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6970.html" target="_blank" title="道门鬼差">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/f7ba943d-d2a7-42_140x180.jpg" width="140" height="180" alt="道门鬼差">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6970.html" target="_blank" title="道门鬼差">道门鬼差</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>迎风尿一鞋</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供道门鬼差最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6944.html" target="_blank" title="药尸">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/7ebc18f2-1cff-45_140x180.jpg" width="140" height="180" alt="药尸">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6944.html" target="_blank" title="药尸">药尸</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>秀莊</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>本站.以最快的速度为读者提供药尸最新章节和全文阅读，如果读者发现文章内容更新不够及时，请到【举报】联系站长</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <a href="http://localhost:8900/Introduce/6921.html" target="_blank" title="超神建模师">
                                            <img width="140" height="180" src="http://img.jsonyang.com/2018/01/24/9c847e40-3d8a-4d_140x180.jpg" width="140" height="180" alt="超神建模师">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span>《<a href="http://localhost:8900/Introduce/6921.html" target="_blank" title="超神建模师">超神建模师</a>》</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span>零下九十度</span>
                                            </div>
                                        </div>
                                        <hr />
                                        <p>源能降临，凶兽纵横，超能力丛生。
苏浩只是一名掌握了低级源能amp;quot;模型分析amp;quot;的普通高三学生，然而，当他在...</p>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6855.html" title="最强亡者荣耀系统" target="_blank" class="hot_title">最强亡者荣耀系统</a>
                                                <br />
                                                <span class="text_author">作者：落笔东流</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6832.html" title="重生之猫妖传" target="_blank" class="hot_title">重生之猫妖传</a>
                                                <br />
                                                <span class="text_author">作者：镇园子</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6750.html" title="村口那家冥纸店" target="_blank" class="hot_title">村口那家冥纸店</a>
                                                <br />
                                                <span class="text_author">作者：梦飞翔的羽毛</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6724.html" title="三流真探" target="_blank" class="hot_title">三流真探</a>
                                                <br />
                                                <span class="text_author">作者：熊王丸</span>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6776.html" title="神国永恒" target="_blank" class="hot_title">神国永恒</a>
                                                <br />
                                                <span class="text_author">作者：风邻?</span>
                                            </td>
                                            <td>
                                                <a href="http://localhost:8900/Introduce/6700.html" title="阴阳大掌柜" target="_blank" class="hot_title">阴阳大掌柜</a>
                                                <br />
                                                <span class="text_author">作者：十傏</span>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
        </div><!-- /.col-sm-4 -->
    </div>
<!--最近更新列表-->
@{
    Html.RenderAction("LastUpdate");
  }

<div class="ad_pc_block hidden-xs">
    <script type="text/javascript">
        /*首页底部横幅*/
        var cpro_id = "u3211183";
    </script>
    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js"></script>
</div>
<div class="ad_wap_block hidden-sm hidden-md hidden-lg">
    <script type="text/javascript">
        /*移动版首页底部横幅横幅 20:3*/
        var cpro_id = "u3211192";
    </script>
    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js"></script>
</div>