
<footer>
    <div class="top-footer">
        <ul class="footer-social list-inline">
                    <li>
                        <a href="javascript:return false;">
                            <i class="fa fa-volume-up"></i>
                            <span>提示:请开通会员观看更多完整视频！</span>
                        </a>
                    </li>
        </ul>
    </div>
</footer>