
<footer>
    <div class="top-footer">
        <ul class="footer-social list-inline">
                    <li>
                        <a href="javascript:return false;">
                            <i class="fa fa-volume-up"></i>
                            <span>提醒:请保持注册账号的邮件能正常收到邮件!</span>
                        </a>
                    </li>
        </ul>
    </div>
</footer>