
@{
    ViewBag.Title = "出错了";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">出错了</h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img alt="" style="width: 300px; height: 300px;" src="~/images/error.jpg">
        </div>
        您访问的页面出错了,请<a href="/">点此返回首页</a>，继续浏览。
    </div>
</div>
