
@{
    ViewBag.Title = "提示";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<div id="page-content" class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="vid-tags">
                    <h5 style="color:#3857f1;">@Html.Raw(ViewBag.Message)</h5>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        </div>
</div>

