
@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
  }
    <div id="page-content" class="index-page">
        <div class="container">
            <div class="row">
                <div class="featured">
                    <div class="main-vid">
                        <div class="col-md-6">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>32:06</span>
                                        <a href="single.html">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Husba...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/08/b24f4ad2-18dd-4f_549x313.jpg" />
                                </div>
                        </div>
                    </div>
                    <div class="sub-vid">
                        <div class="col-md-3">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>43:48</span>
                                        <a href="single.html">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Rie Tachikawa - Massag...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/08/90a9c9a8-7f7e-4a_260x145.jpg" />
                                </div>
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>147:10</span>
                                        <a href="single.html">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>MIGD-767 Baby Making S...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/08/9698447e-23e6-4a_260x145.jpg" />
                                </div>
                            </div>
                        <div class="col-md-3">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>32:06</span>
                                        <a href="single.html">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Husband cant...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/08/f76dcfa5-18cf-40_260x145.jpg" />
                                </div>
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>27:59</span>
                                        <a href="single.html">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Asian teache...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/08/326df362-cbba-43_260x145.jpg" />
                                </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row">
                <div id="main-content" class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-globe"></i> 最近更新</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>60:15</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>(JAV) KSG-049</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/85ebdaf1-3f2e-48_354x198.jpg" />
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>43:48</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Rie Tachikawa - Massag...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/92db6abf-85ca-44_354x198.jpg" />
                                            </div>
                                        </div>
                                    <div class="line"></div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>147:10</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>MIGD-767 Bab...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/3f05d2b9-5dfd-4d_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">MIGD-767 Bab...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:32</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>32:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Husband cant...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/8988b417-a89e-41_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Husband cant...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:32</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>108:19</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Simply Beaut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/2b367dc1-576e-4c_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Simply Beaut...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:32</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>60:15</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>(JAV) KSG-049</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/f5d74742-4526-45_354x198.jpg" />
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>43:48</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Rie Tachikawa - Massag...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/be587489-2a7b-49_354x198.jpg" />
                                            </div>
                                        </div>
                                    <div class="line"></div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>147:10</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>MIGD-767 Bab...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/c138ec3d-b86a-42_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">MIGD-767 Bab...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:35</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>32:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Husband cant...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/ab5a2159-44e0-4a_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Husband cant...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:35</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>108:19</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Simply Beaut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/182060d9-9905-48_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Simply Beaut...</a></h5>
                                                <div class="info">
                                                    <h6>By <a href="#">Kelvin</a></h6>
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 22:12:35</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-play-circle-o"></i> 高清无码</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>60:15</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>(JAV) KSG-04...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/e7fff827-8a6e-44_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">(JAV) KSG-04...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:00</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>43:48</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Rie Tachikaw...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/a1894a7e-977a-4e_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Rie Tachikaw...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:01</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>147:10</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>MIGD-767 Bab...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/c5edaebe-dbeb-45_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">MIGD-767 Bab...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:01</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>32:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Husband cant...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/72223ac1-b616-4c_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Husband cant...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:01</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>108:19</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Simply Beaut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/e92786ff-b226-4d_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Simply Beaut...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:01</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>109:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>[JAV] a gift...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/ce8fee6b-4fda-49_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">[JAV] a gift...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 22:48:01</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-globe"></i> 热门推荐</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>60:15</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>(JAV) KSG-049</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/e7fff827-8a6e-44_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">(JAV) KSG-049</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 23:13:42</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>43:48</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Rie Tachikawa - Massag...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/a1894a7e-977a-4e_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Rie Tachikawa - Massag...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 23:13:43</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>147:10</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>MIGD-767 Bab...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/9277f355-5f87-49_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">MIGD-767 Bab...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 23:13:43</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>32:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Husband cant...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/c4f721ac-ff3e-49_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Husband cant...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 23:13:43</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>108:19</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Simply Beaut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/226d2953-f44b-43_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">Simply Beaut...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 23:13:43</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>109:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>[JAV] a gift...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/dada2282-0d8b-4b_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="#">[JAV] a gift...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-08 23:13:43</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-vimeo-square"></i> V友推荐</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>147:10</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>MIGD-767 Bab...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/ef716169-7d54-4c_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">MIGD-767 Bab...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 23:13:56</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>32:06</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Husband cant...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/ebcaf737-007b-49_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Husband cant...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 23:13:56</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>108:19</span>
                                                    <a href="single.html">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Simply Beaut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/08/f4bd5d40-9407-44_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="#">Simply Beaut...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-08 23:13:57</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("../Sidebar/Video_Index_Sidebar");
                }
            </div>
        </div>
    </div>

