
@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
  }
    <div id="page-content" class="index-page">
        <div class="container">
            <div class="row">
                <div class="featured">
                    <div class="main-vid">
                        <div class="col-md-6">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>189:24</span>
                                        <a href="/Detail/Min/4/6.html" target="_blank">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Once ...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/11/e69f0db0-8652-49_549x313.jpg" />
                                </div>
                        </div>
                    </div>
                    <div class="sub-vid">
                        <div class="col-md-3">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>189:24</span>
                                        <a href="/Detail/Min/4/6.html" target="_blank">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Once If The Woman I Wa...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/11/e0a0e5d6-7cb4-4e_260x145.jpg" />
                                </div>
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>37:30</span>
                                        <a href="/Detail/Min/4/7.html" target="_blank">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>IPX-079-4</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/11/432a568d-ea6a-43_260x145.jpg" />
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>24:56</span>
                                        <a href="/Detail/Min/4/8.html" target="_blank">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>korean new A...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/11/e1c45c59-4bd9-45_260x145.jpg" />
                                </div>
                                <div class="zoom-container">
                                    <div class="zoom-caption">
                                        <span>11:48</span>
                                        <a href="/Detail/Min/4/1.html" target="_blank">
                                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                        </a>
                                        <p>Bondage &amp;amp...</p>
                                    </div>
                                    <img src="http://img.jsonyang.com/2018/11/11/4b42c0bc-18fd-44_260x145.jpg" />
                                </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row">
                <div id="main-content" class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-globe"></i> 最近更新</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>189:24</span>
                                                    <a href="/Detail/Min/4/6.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Once If The Woman I Wa...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/bdaadf8d-95f7-4c_354x198.jpg" />
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>37:30</span>
                                                    <a href="/Detail/Min/4/7.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>IPX-079-4</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/42026c61-ef86-42_354x198.jpg" />
                                            </div>
                                        </div>
                                    <div class="line"></div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>24:56</span>
                                                    <a href="/Detail/Min/4/8.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>korean new A...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/64906868-cf7a-41_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/8.html" target="_blank">korean new A...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:22</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>11:48</span>
                                                    <a href="/Detail/Min/4/1.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Bondage &amp;amp...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/c2e62169-8ed1-42_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/1.html" target="_blank">Bondage &amp;amp...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:22</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>14:24</span>
                                                    <a href="/Detail/Min/4/2.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Japanese Cut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/7bf54063-b036-4c_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/2.html" target="_blank">Japanese Cut...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:22</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>189:24</span>
                                                    <a href="/Detail/Min/4/6.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Once If The Woman I Wa...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/ed8d4a7d-5309-4e_354x198.jpg" />
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>37:30</span>
                                                    <a href="/Detail/Min/4/7.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>IPX-079-4</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/47ab226b-a68c-47_354x198.jpg" />
                                            </div>
                                        </div>
                                    <div class="line"></div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>24:56</span>
                                                    <a href="/Detail/Min/4/8.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>korean new A...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/6d2e4cf1-b476-43_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/8.html" target="_blank">korean new A...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:17</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>11:48</span>
                                                    <a href="/Detail/Min/4/1.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Bondage &amp;amp...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/2ed5f73b-820c-46_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/1.html" target="_blank">Bondage &amp;amp...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:18</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>14:24</span>
                                                    <a href="/Detail/Min/4/2.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Japanese Cut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/b13a8959-0e9a-45_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/2.html" target="_blank">Japanese Cut...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:18</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-play-circle-o"></i> 高清无码</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>189:24</span>
                                                    <a href="/Detail/Min/4/6.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Once If The ...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/08ba2dea-7845-4c_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/6.html" target="_blank">Once If The ...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>37:30</span>
                                                    <a href="/Detail/Min/4/7.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>IPX-079-4</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/9466ba4b-938e-4f_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/7.html" target="_blank">IPX-079-4</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>24:56</span>
                                                    <a href="/Detail/Min/4/8.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>korean new A...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/2d14e717-4d1b-43_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/8.html" target="_blank">korean new A...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>11:48</span>
                                                    <a href="/Detail/Min/4/1.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Bondage &amp;amp...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/ab23e625-8763-46_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/1.html" target="_blank">Bondage &amp;amp...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>14:24</span>
                                                    <a href="/Detail/Min/4/2.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Japanese Cut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/2d011ab9-b8ee-4f_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/2.html" target="_blank">Japanese Cut...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>10:42</span>
                                                    <a href="/Detail/Min/4/4.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>sinh vi&#234;n cư...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/6f369043-0bb4-46_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/4.html" target="_blank">sinh vi&#234;n cư...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:13</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-globe"></i> 热门推荐</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>189:24</span>
                                                    <a href="/Detail/Min/4/6.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Once If The Woman I Wa...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/08a8fff2-ad9d-4f_354x198.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/6.html" target="_blank">Once If The Woman I Wa...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>37:30</span>
                                                    <a href="/Detail/Min/4/7.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>IPX-079-4</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/4cd0dac5-7700-4b_354x198.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/7.html" target="_blank">IPX-079-4</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>24:56</span>
                                                    <a href="/Detail/Min/4/8.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>korean new A...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/f45fe018-c1bb-42_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/8.html" target="_blank">korean new A...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>11:48</span>
                                                    <a href="/Detail/Min/4/1.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Bondage &amp;amp...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/5cadeb6e-f4a8-4b_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/1.html" target="_blank">Bondage &amp;amp...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>14:24</span>
                                                    <a href="/Detail/Min/4/2.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Japanese Cut...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/45ae4b3b-43c9-46_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/2.html" target="_blank">Japanese Cut...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>10:42</span>
                                                    <a href="/Detail/Min/4/4.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>sinh vi&#234;n cư...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/7923a659-b5b0-41_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/4.html" target="_blank">sinh vi&#234;n cư...</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 15:41:10</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>132:24</span>
                                                    <a href="/Detail/Min/4/19.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>SDDE409</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/70ecf6d7-5338-46_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/19.html" target="_blank">SDDE409</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 21:37:04</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>84:36</span>
                                                    <a href="/Detail/Min/4/23.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Julia 16</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/031df2e4-d57c-4c_354x198.jpg" />
                                            </div>
                                            <div class="wrapper">
                                                <h5 class="vid-name"><a href="/Detail/Min/4/23.html" target="_blank">Julia 16</a></h5>
                                                <div class="info">
                                                    <span><i class="fa fa-calendar"></i>2018-11-11 21:37:04</span>
                                                    <span><i class="fa fa-heart"></i>1,200</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-vimeo-square"></i> V友推荐</h2>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>189:24</span>
                                                    <a href="/Detail/Min/4/6.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>Once If The ...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/a65197b8-348d-4e_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/6.html" target="_blank">Once If The ...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:37</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>37:30</span>
                                                    <a href="/Detail/Min/4/7.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>IPX-079-4</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/6dc761d8-d038-44_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/7.html" target="_blank">IPX-079-4</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:37</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span>24:56</span>
                                                    <a href="/Detail/Min/4/8.html" target="_blank">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p>korean new A...</p>
                                                </div>
                                                <img src="http://img.jsonyang.com/2018/11/11/04aa1561-e1f5-43_226x126.jpg" />
                                            </div>
                                            <h3 class="vid-name"><a href="/Detail/Min/4/8.html" target="_blank">korean new A...</a></h3>
                                            <div class="info">
                                                <span><i class="fa fa-calendar"></i>2018-11-11 15:41:37</span>
                                                <span><i class="fa fa-heart"></i>1,200</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("../Sidebar/Video_Index_Min_Sidebar");
                }
            </div>
        </div>
    </div>

