
@{
    Layout = "~/Views/Shared/_Min_Layout.cshtml";
    ViewBag.Title = "开通VIP";
}
@section head{
}

<div id="page-content" class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div id="main-content" class="col-md-8">
                <div class="box">
                    <center>
                        <div class="art-header">
                            <h1 class="center">注 册</h1>
                        </div>
                    </center>
                    <div class="art-content">
                        <div id="contact_form">
                            <form name="form1" id="ff" method="post" action="/Vip/Regist">                              
                                <label>
                                    <span><input type="radio" name="optionsRadios" id="optionsRadios1" value="option2"></span>
                                    Option two can be something else and selecting it will deselect option one
                                </label>
                                <label>
                                    <span><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"></span>
                                    Option two can be something else and selecting it will deselect option one
                                </label>
                                <label>
                                    <span><input type="radio" name="optionsRadios" id="optionsRadios3" value="option2"></span>
                                    Option two can be something else and selecting it will deselect option one
                                </label>
                                <center>
                                    <input class="sendButton" type="submit" name="Submit" value="确定注册">
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row"></div>
    </div>
</div>

