
@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
  }
        <div class="header-slide">
            <div id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>189:24</span>
                                <a href="/Detail/4/6.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Once If The Woman...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/ae957b26-cac7-4a_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>37:30</span>
                                <a href="/Detail/4/7.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>IPX-079-4</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/d329b9c2-ea3c-42_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>24:56</span>
                                <a href="/Detail/4/8.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>korean new An Aff...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/422a4309-3f13-48_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>154:55</span>
                                <a href="/Detail/4/9.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>[Thz.la]ipz-921</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/c43d63f5-ceb4-45_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>11:48</span>
                                <a href="/Detail/4/1.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Bondage &amp;amp; Sho...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/d65eceac-a044-44_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>14:24</span>
                                <a href="/Detail/4/2.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Japanese Cute Gir...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/71ca9597-5b55-45_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>15:18</span>
                                <a href="/Detail/4/3.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>cfnm school</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/fa3d62d3-23ad-4b_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>10:42</span>
                                <a href="/Detail/4/4.html" target="_blank">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>sinh vi&#234;n cưỡi ng...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/11/c15ae0ee-2528-40_250x140.jpg" />
                        </div>
                    </div>
            </div>
        </div>

