
@{
        string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
  }
        <div class="header-slide">
            <div id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>60:15</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>(JAV) KSG-049</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/89d3a582-f225-48_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>43:48</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Rie Tachikawa - M...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/e73835ff-adcb-4b_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>147:10</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>MIGD-767 Baby Mak...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/527e8a73-2340-41_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>32:06</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Husband cant resi...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/07cf851e-bcc3-40_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>108:19</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Simply Beautiful ...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/396825dd-135f-4f_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>109:06</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>[JAV] a gift from...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/331320e7-3f16-41_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>27:59</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>Asian teacher wor...</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/8f096409-01d0-41_250x140.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>34:30</span>
                                <a href="single.html">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>43869_Hadid_hi</p>
                            </div>
                            <img src="http://img.jsonyang.com/2018/11/08/db1d2891-e5df-46_250x140.jpg" />
                        </div>
                    </div>
            </div>
        </div>

