<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--定义类型别名-->
    <aliases>
      <add alias="58Web" type="Spider.Service.Spider58,Spider.Service"/>
      <add alias="58ErrorCompensate" type="Spider.Service.Spider58_ErrorCompensate,Spider.Service"/>

      <add alias="ConsoleLog" type="Spider.Service.Implement.TextConsole,Spider.Service"/>
      <add alias="WriteContent" type="Spider.Service.Implement.WriteString,Spider.Service"/>
    </aliases>
    <!--容器-->
    <container name="SpiderClass">
      <register type="Spider.Service.ISpider,Spider.Service" name="5858XS" mapTo="58Web"></register>
      <register type="Spider.Service.ISpider,Spider.Service" name="5858XS_Error" mapTo="58ErrorCompensate"></register>
      <register type="Spider.Service.Interface.IConsoleLog,Spider.Service" mapTo="ConsoleLog"></register>
      <register type="Spider.Service.Interface.IWriteContent,Spider.Service" mapTo="WriteContent"></register>
    </container>
  </unity>
  <!--完整的配置文件-->
  <!--<unity>
    <typeAliases>
      
  <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
  
      
  <typeAlias alias="DatabaseLogger" type="UnityDemo.DatabaseLogger, UnityDemo" />
  
      <typeAlias alias="TestA" type="Console.IOC.Implement.TestA, Console.IOC" />
      <typeAlias alias="TestB" type="Console.IOC.Implement.TestB, Console.IOC" />
    </typeAliases>
    <containers>
      <container name="FirstClass" >
        <types>
          <type type="Console.IOC.Interface.ITest,Console.IOC" mapTo="TestA" />
          <type type="Console.IOC.Interface.ITest,Console.IOC" mapTo="TestB"  name="B" />
          
  <type type="UnityDemo.ILogger, UnityDemo" mapTo="UnityDemo.DatabaseLogger, UnityDemo" name="databaseLogger">
            <lifetime type="singleton" />
          </type>
  
        </types>
      </container>
    </containers>
  </unity>-->
  <connectionStrings>
    <!--本地-->
    <add name="XiaoShuo" connectionString="Data Source=.;DataBase=XiaoShuoTest;Uid=sa;PWD=USER1122@;" providerName="System.Data.SqlClient"/>
    <!--远程-->
    <!--<add name="XiaoShuo" connectionString="Data Source=116.62.17.62;DataBase=XiaoShuoTest;Uid=sa;PWD=USER1122@;" providerName="System.Data.SqlClient" />-->
    <add name="Mongo_XiaoShuo" connectionString="mongodb://localhost"/>
  </connectionStrings>
  <appSettings>
    <!--是否启用fidder代理-->
    <add key="IsProxy" value="false"/>
    <!--默认封面-->
    <add key="DefaultCover" value="http://img.jsonyang.com/2018/01/15/a35b017c-8dfa-4d_140x180.jpg"/>
    
    
    
    
    
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
