<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <!--Top-->
        <nav id="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ul class="list-inline top-link link">
                            <li><a href="#"><i class="fa fa fa-user-circle-o"></i> 当前用户</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!--Navigation-->
        <nav id="menu" class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <span id="heading" class="visible-xs">Categories</span>
                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>                       
                        <li><a href="archive.html"><i class="fa fa-video-camera"></i> Videos</a></li>
                        <li><a href="contact.html"><i class="fa fa-picture-o"></i> Gifs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("head_recoment",false)
    </header>
    
    <!-- body -->
    @RenderBody()

    <footer>
        <div class="top-footer">
            <ul class="footer-social list-inline">
                <li><a href="javascript:return false;"><i class="fa fa-volume-up"></i> <span>Reminder: announcement information will be displayed here</span></a></li>
            </ul>
        </div>
    </footer>
    <!-- Footer -->
    <!-- JS -->
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000,
                items: 5,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [979, 4]
            });

        });
    </script>

</body>
</html>
