<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>NeuBVFrVSYsvWsWXZVI4T058rZHUFIUGZvRUjqEiiDqhvoR+Ln16VbtfmkdHeUaR3DASYjy1W8wV8CHEBFhbcVwBoZcp7QaiyGMmaQXiCnThmQtCvmYs/6/25WkpdXS/6d202Aph31bQ+QvtaUetCN5QJvT0x6PvmK/FEqEUGtyknjzqfuGFic8xlo5/y8c4XWXpOLs23uBk4v6HbTg1zPAdvfMxb3uWUykGDkMLmWDEN/RF78F1EB5LUWWjzIXIuGhpD6VkR/fwJc8d10D8tqrbFvkFRi3SpgwSTrXcLgY28X+knrqDYh76wWNSiuGQ8REZnXyRnSTkagmDHZk7Hg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>VXDC//iLjXHgQ2P/AVGarIX2MK/gYYBUPTccs8sRLZQ=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>